<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <!-- <ion-title size="large">Encabezados</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <!-- Botón para abrir el modal -->
  <ion-button expand="block" (click)="openModal()">Agregar Noticia</ion-button>

  <!-- Sección para mostrar las noticias -->
  <ion-card *ngFor="let noticia of noticias">
      <ion-img [src]="noticia.foto"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ noticia.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ noticia.descripcion }}
      </ion-card-content>
      <!-- Botón de compartir -->
      <ion-button (click)="compartirNoticia(noticia)" expand="block" color="primary"><ion-icon name="share"></ion-icon></ion-button>
      <ion-button (click)="eliminarNoticia(noticia)" expand="block" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card>
    
</ion-content>