  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Titulo" [(ngModel)]="titulo" placeholder="Titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="descripcion" [(ngModel)]="descripcion" placeholder="Descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>
      <ion-button (click)="chooseFromGallery()"><ion-icon name="image-outline"></ion-icon></ion-button>
    </ion-item>
  
  </ion-content>
